/* reset button */

.button {
  display: block;
  appearance: none;
  margin: 0;
	border: 0;
  padding: 0;
  color: inherit;
  background-color: transparent;
  font: inherit;
  outline: 0 !important;
  cursor: pointer;
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

/* apply custom styles */

.button {
  width: 100%;
  position: relative;
  z-index: 1;
  cursor: pointer;
  &::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: inherit;
    background-color: transparent;
    border-radius: inherit;
    z-index: -1;
  }
  &:focus {
    &:not(:disabled) {
      box-shadow: 0 0 0 4px color(#000 alpha(10%));
    }
  }
  &:hover,
  &:focus,
  &:active {
    &:not(:disabled) {
      color: color(#fff alpha(90%));
    }
  }
  &-clear,
  &-outlined {
    &:not(:hover, :focus, :active), &:disabled {
      background-color: transparent;
    }
  }
  &-outlined {
    &:not(:hover, :focus, :active), &:disabled {
      box-shadow: inset 0 0 0 var(--button-border-width) currentColor;
    }
  }
  &-inverse {
    &:hover,
    &:focus,
    &:active {
      &:not(:disabled) {
        color: color(#000 alpha(90%));
      }
    }
    &:focus {
      &:not(:disabled) {
        box-shadow: 0 0 0 4px color(#fff alpha(10%));
      }
    }
  }
  &-darken {
    &:focus,
    &:hover {
      &:not(:disabled) {
        &::before {
          border-color: transparent;
          background-color: color(#000 alpha(20%));
        }
      }
    }
  }
  &-lighten {
    &:focus,
    &:hover {
      &:not(:disabled) {
        &::before {
          border-color: transparent;
          background-color: color(#fff alpha(20%));
        }
      }
    }
  }
  &:active {
    &:not(:disabled) {
      &::before {
        border-color: transparent;
        background-color: color(#000 alpha(50%));
      }
    }
  }
  &[data-loading]:disabled {
    text-indent: -9999px;
    cursor: progress;
    &::after {
      content: '';
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      width: 1.5em;
      height: 1.5em;
      margin-left: -.75rem;
      margin-top: -.75rem;
      border: 2px solid;
      border-color: currentColor currentColor transparent transparent;
      border-radius: 100%;
      animation: rotate .5s linear infinite;
    }
  }
  &:disabled:not([data-loading]) {
    cursor: not-allowed;
    opacity: .5;
    filter: grayscale(50%);
  }
}

:root {
  --button-border-width: var(--field-border-width, 2px);
}

@keyframes rotate {
    0% { transform: rotateZ(-360deg); }
  100% { transform: rotateZ(0deg); }
}
